body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    max-width: 600px;
    margin: auto;
    padding: 0;
}

li {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}
#listaTarefas {
    list-style: none;
    padding: 0;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.info {
    max-width: 70%;
}

.status {
    margin-left: 10px;
    font-weight: bold;
    color: #555;
}

.acoes button {
    margin-left: 8px;
    cursor: pointer;
}
